img {
  max-width: 100%;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*="col-"] {
  display: flex;
  flex-direction: column;
}

.main {
  background-image: url("./Rectangle\ 284.png");
}
.parent-header {
  max-width: 90%;
  margin: 0 auto;
}

.section-1 {
  display: flex;
  justify-content: flex-end;
}
.menu .menu-li,
.section-1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.section-1 li {
  float: left;
}
.section-1 li h5 {
  display: block;
  padding: 8px;
}

.section-1 li h5 a {
  color: black;
}

.section-2 {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  border-top: 1px solid gainsboro;
}

.menu .menu-li {
  display: flex;
}
.menu .menu-li li {
  padding: 1em;
}

.btn-common {
  color: #fff;
  background-color: #000;
  float: left;
}

.menu-btn {
  max-height: 35px;
  margin-top: 6px;
}

.menu .btn {
  border-radius: 10px;
}

.section-3 {
  padding-top: 3em;
}
.left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 470px;
  margin: 0 auto;
}
.left .text {
  font-family: Playfair Display SC;
  font-style: normal;
  font-weight: bold;
}

.main h5 {
  font-weight: 400;
  font-size: 14px;
}

@media screen and (max-width: 991px) {
  .menu {
    border-top: none;
  }
  .menu .menu-li {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .section-1 {
    align-items: center;
    justify-content: space-between;
  }
  .section-1 ul.contact-ul li {
    float: none;
  }
  .section-1 li h5 {
    padding: 3px;
  }
  .menu .btn-common {
    font-size: 0.75em;
    line-height: 2.5;
    font-weight: 100;
  }
  .menu .menu-btn {
    max-height: 40px;
    margin-top: unset;
  }
  .left {
    padding-top: 35px;
  }
  .left .text {
    font-size: 1.5em;
  }
  .right {
    display: flex;
    justify-content: center;
  }
}
